# Secrets
.env

# Maven
target/
*.class

# JVM crash logs
*.log
hs_err_pid*
replay_pid*

# IDE
.idea/
*.iml
.vscode/

# Angular (once ecommerce-hub-frontend/ exists)
node_modules/
dist/
.angular/

# OS
.DS_Store

k8s/helm/ecommerce-hub/values.yaml